@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
.header__wrapper {
  width: 100%;
  max-width: 1165px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo:hover {
  cursor: pointer;
}

.header__menu-btn {
  text-transform: uppercase;
  background-color: #333333;
  font-size: 14px;
  font-weight: 900;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fefefe;
  border-radius: 50%;
  border: 1px solid #000000;
  width: 64px;
  height: 64px;
}

.header__menu-btn:hover {
  cursor: pointer;
}

.darken .header {
  background-color: #333333;
}

.darken .header__menu-btn {
  background-color: #fefefe;
  color: #333333;
  border: none;
}

@media screen and (max-width: 768px) {
  .header__wrapper {
    width: 100%;
    margin: 0;
    padding: 0 82px;
  }
}

@media screen and (max-width: 550px) {
  .header__wrapper {
    padding: 0 18px;
  }
  .header__menu-btn {
    width: 34px;
    height: 34px;
    font-size: 8px;
    line-height: 9px;
  }
  .header__logo {
    height: 50px;
  }
}

.marquee {
  position: relative;
  z-index: -5;
  margin-top: 44px;
  overflow: hidden;
}

.marquee img {
  display: flex;
}

.ticker {
  margin-top: 45px;
}

.ticker__text {
  z-index: -3;
  height: 96px;
  background: repeat-x url("../pictures/rollText.svg") center/contain;
  background-size: 1452px 96px;
  background-position: 0px 0px;
}

.darken .ticker {
  background-color: #333333;
}

.darken .ticker__text {
  background: repeat-x url("../pictures/rollTextDarken.svg") center/contain;
  background-size: 1452px 96px;
  background-position: 0px 0px;
}

@media screen and (max-width: 550px) {
  .marquee {
    margin-top: 25px;
  }
  .marquee img {
    height: 70px;
  }
  .darken .ticker__text {
    height: 70px;
    background-size: 884px 65px;
  }
}

.offer {
  padding-top: 15px;
}

.offer__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.offer__card {
  position: relative;
  width: 55%;
  max-width: 690px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.offer__eggs {
  position: absolute;
  z-index: 1;
}

.offer__egg-left {
  width: 20%;
  max-width: 277px;
  left: 12%;
  bottom: -10%;
}

.offer__egg-right {
  width: 20%;
  max-width: 231px;
  bottom: 0;
  right: 12%;
  bottom: -15%;
}

.offer__egg-bottom {
  width: 15%;
  max-width: 175px;
  z-index: -1;
  top: -14%;
  right: 16%;
}

.offer__btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 52px;
}

.offer__buy-btn {
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  background-color: #fdc300;
  border: 2px solid #000000;
  border-radius: 40px;
  padding: 22px 48px 22px 49px;
  position: relative;
}

.offer__buy-btn::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 5px;
  border: 2px solid #000000;
  border-width: 0px 2px 2px 0px;
  border-radius: 40px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #fff;
}

.offer__buy-btn:active {
  transform: translate(5px, 10px);
  -webkit-transform: translate(5px, 10px);
}

.offer__buy-btn:active::before {
  content: none;
}

.offer__buy-btn:hover {
  cursor: pointer;
}

.darken .offer__bag-left {
  width: 23%;
  max-width: 409px;
  left: 13%;
  bottom: -10%;
}

.darken .offer__bag-right {
  width: 20%;
  max-width: 313px;
  bottom: -10%;
  right: 15%;
}

.darken .offer__bag-bottom {
  width: 15%;
  max-width: 242px;
  top: -17%;
  right: 15%;
  z-index: -1;
}

.privilege {
  margin-top: 83px;
}

.privilege__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.privilege__header {
  text-transform: uppercase;
  font-size: 105px;
  font-weight: 900;
  color: #fefefe;
  line-height: 123px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  -webkit-text-stroke: 3px #333;
}

.privilege__header span {
  -webkit-text-stroke: unset;
  color: #333333;
}

.privilege__title {
  margin-top: 83px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.privilege__sub_title, .privilege__sup_title {
  font-weight: 900;
}

.privilege__sub_title {
  line-height: 56px;
}

.privilege__sup_title {
  font-size: 72px;
  line-height: 84px;
  margin-top: 20px;
  color: #fefefe;
  -webkit-text-stroke: 3px #333;
}

.privilege__ending {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 210px;
}

.privilege__text {
  font-weight: bold;
  line-height: 42px;
}

.privilege__count {
  font-size: 72px;
  font-weight: 900;
  line-height: 84px;
  color: #333333;
  margin-left: 130px;
}

.privilege__count span {
  color: #fefefe;
  -webkit-text-stroke: 3px #333;
}

.privilege .privileges, .privilege__title, .privilege__ending {
  max-width: 1040px;
}

.privilege .privileges {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.privilege .privileges__item {
  display: flex;
  justify-content: flex-start;
  margin-top: 190px;
}

.privilege .privileges__item:first-child {
  margin-top: 0;
}

.privilege .privileges__item:nth-child(2) {
  justify-content: flex-end;
}

.privilege .privileges__img {
  display: flex;
  position: relative;
  width: 100%;
}

.privilege .privileges__img img:not(:first-child) {
  position: absolute;
}

.privilege .privileges__img .card-terminal {
  width: 50%;
  right: 5%;
  bottom: 20%;
  z-index: 1;
  animation: infinite 4s ease terminal;
}

.privilege .privileges__img .terminal-shadow {
  width: 40%;
  bottom: 17%;
  right: 10%;
  z-index: 0;
  animation: infinite 4s 0.2s ease shadow;
  transform-origin: center;
  transform-box: fill-box;
}

.privilege .privileges__img .one-money {
  width: 9%;
  top: 44%;
  left: 17%;
  animation: infinite 3s 1s ease oneMoney;
}

.privilege .privileges__img .two-money {
  width: 9%;
  bottom: 10%;
  left: 6%;
  animation: infinite 3s 2s ease oneMoney;
}

.privilege .privileges__img .fire {
  width: 20%;
  bottom: 40%;
  left: 0;
  z-index: 1;
  animation: infinite 4s ease fire;
}

.privilege .privileges__img .fire-shadow {
  width: 20%;
  left: 5%;
  bottom: 40%;
  animation: infinite 4s ease fireShadow;
  transform-origin: center;
  transform-box: fill-box;
}

.privilege .privileges__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 100px;
}

.privilege .privileges__text:nth-child(2) {
  margin-right: 0;
  margin-left: 100px;
}

.privilege .privileges__description {
  margin-top: 30px;
  font-size: 24px;
  line-height: 26px;
  width: 80%;
}

.privilege .privileges__description p {
  margin-top: 15px;
}

.privilege .privileges__description p:first-child {
  margin: 0;
}

.privilege .privileges__picture {
  position: relative;
  width: 100%;
}

.darken .privilege__header {
  color: #333333;
  -webkit-text-stroke: 3px #fff;
}

.darken .privilege__header span {
  color: #fefefe;
  -webkit-text-stroke: unset;
}

.darken .privilege__sub_title {
  color: #fefefe;
}

.darken .privilege__sup_title {
  color: #333333;
  -webkit-text-stroke: 3px #fff;
}

.darken .privilege .privileges__title {
  color: #fefefe;
}

.darken .privilege .privileges__text {
  width: 85%;
  margin: 0;
  border-color: #fff;
}

.darken .privilege .privileges__description {
  color: #fefefe;
}

.darken .privilege .privileges .magnet {
  width: 75%;
}

.darken .privilege .privileges .smiles {
  max-width: 229px;
  width: 50%;
  right: -3%;
  bottom: 24%;
  animation: infinite 4s 0.2s ease smiles;
}

.darken .privilege .privileges .smiles-faster {
  width: 30%;
  right: -3%;
  animation: infinite 4s ease smiles-faster;
}

.darken .privilege .privileges .basket-front {
  z-index: 3;
}

.darken .privilege .privileges .basket-front,
.darken .privilege .privileges .basket-back {
  width: 60%;
  opacity: 0;
  transform: translate(-60%, -38%);
}

.darken .privilege .privileges .basket-bag-big {
  max-width: 149px;
  width: 30%;
  left: 15%;
  bottom: 25%;
  opacity: 0;
  transform: translateY(-100%);
}

.darken .privilege .privileges .basket-bag-middle {
  max-width: 87px;
  width: 25%;
  right: 55%;
  bottom: 25%;
  opacity: 0;
  transform: translate(0, -150%);
}

.darken .privilege .privileges .middle-right {
  right: 48%;
  bottom: 20%;
  opacity: 0;
}

.darken .privilege .privileges .basket-bag-top {
  max-width: 87px;
  width: 20%;
  right: 59%;
  bottom: 16%;
  opacity: 0;
  transform: translate(0, -150%);
}

.darken .privilege__text {
  color: #fefefe;
}

.darken .privilege__count {
  color: #fefefe;
}

.darken .privilege__count span {
  color: #333333;
  -webkit-text-stroke: 3px #fff;
}

@media screen and (max-width: 768px) {
  .privilege__header {
    font-size: 96px;
    line-height: 112px;
    width: 100%;
    padding-left: 82px;
    -webkit-text-stroke: 2px #333;
  }
  .privilege__sup_title, .privilege__sub_title {
    padding-left: 82px;
  }
  .privilege__sup_title {
    -webkit-text-stroke: 2px #333;
  }
  .privilege .privileges__item {
    margin-top: 150px;
    flex-direction: column;
    align-items: center;
  }
  .privilege .privileges__item:not(:nth-child(2)) {
    flex-direction: column-reverse;
  }
  .privilege .privileges__item .card-terminal {
    bottom: 24%;
    right: 6%;
  }
  .privilege .privileges__item .terminal-shadow {
    bottom: 14%;
    right: 5%;
  }
  .privilege .privileges__item .one-money {
    left: 17%;
    top: 44%;
  }
  .privilege .privileges__item .two-money {
    left: 6.4%;
    bottom: 12.4%;
  }
  .privilege .privileges__item .fire {
    left: -8%;
    bottom: 40%;
  }
  .privilege .privileges__item .fire-shadow {
    left: 3%;
    bottom: 40%;
  }
  .privilege .privileges__picture {
    margin: 0;
  }
  .privilege .privileges__picture:nth-child(1) {
    margin: 0;
  }
  .privilege .privileges__text {
    margin-top: 50px;
    min-height: 250px;
  }
  .privilege__ending {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
    padding-left: 82px;
  }
  .privilege__count {
    margin: 30px 0 0 0;
  }
  .privilege__count span {
    -webkit-text-stroke: 2px #333;
  }
  .darken .privilege__header {
    -webkit-text-stroke: 2px #fff;
  }
  .darken .privilege__sup_title {
    -webkit-text-stroke: 2px #fff;
  }
  .darken .privilege__count span {
    -webkit-text-stroke: 2px #fff;
  }
}

@media screen and (max-width: 550px) {
  .privilege {
    margin-top: 90px;
  }
  .privilege__header {
    padding: 0 0 0 44px;
    font-size: 36px;
    line-height: 42px;
    -webkit-text-stroke: 1px #333;
  }
  .privilege__title {
    padding: 0 44px;
  }
  .privilege__sub_title {
    font-size: 24px;
    line-height: 28px;
    padding: 0;
  }
  .privilege__sup_title {
    font-size: 36px;
    line-height: 42px;
    padding: 0;
    margin-top: 5px;
    -webkit-text-stroke: 1px #333;
  }
  .privilege .privileges {
    margin-top: 50px;
  }
  .privilege .privileges__item:not(:first-child) {
    margin-top: 92px;
  }
  .privilege .privileges__text {
    margin-top: 40px;
    margin-right: 0;
    max-width: 231px;
    border-bottom: 1px solid black;
  }
  .privilege .privileges__text:nth-child(2) {
    margin-left: 0;
  }
  .privilege .privileges__title {
    font-size: 18px;
    line-height: 21px;
  }
  .privilege .privileges__description {
    margin-top: 21px;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
  }
  .privilege .privileges__description p {
    margin-top: 5px;
  }
  .privilege .privileges__img {
    width: 60%;
  }
  .privilege .privileges__picture {
    width: 100%;
  }
  .privilege__ending {
    margin-top: 60px;
    padding: 0;
    padding-left: 2.75rem;
  }
  .privilege__text {
    font-size: 24px;
    line-height: 28px;
  }
  .privilege__count {
    margin-top: 20px;
    font-size: 36px;
    line-height: 42px;
  }
  .privilege__count span {
    -webkit-text-stroke: 1px #333;
  }
  .darken .privilege__header {
    -webkit-text-stroke: 1px #fff;
  }
  .darken .privilege__sup_title {
    -webkit-text-stroke: 1px #fff;
  }
  .darken .privilege__count span {
    -webkit-text-stroke: 1px #fff;
  }
}

@keyframes terminal {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -45%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes shadow {
  0% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

@keyframes oneMoney {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes fire {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -30%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes fireShadow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes smiles {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  70% {
    transform: translate(-30%, -10%);
  }
  85% {
    transform: translate(0, 0);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes smiles-faster {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  65% {
    transform: translate(-30%, -10%);
    opacity: 0;
  }
  90% {
    transform: translate(0, 0);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes basket {
  0% {
    opacity: 0;
    transform: translate(-60%, -38%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes bag-big {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes middle-bag {
  0% {
    opacity: 0;
    transform: translate(0, -150%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.promo {
  margin-top: 190px;
}

.promo__wrapper {
  max-width: 1000px;
  text-transform: uppercase;
  margin: 0 auto;
}

.promo__text {
  font-weight: 900;
  font-size: 105px;
  line-height: 123px;
  color: #fefefe;
  letter-spacing: 1px;
  -webkit-text-stroke: 3px #333;
}

.promo__text .hide {
  display: none;
}

.promo__text span {
  color: #333333;
  position: relative;
}

.promo__text span span {
  z-index: -1;
  left: 0;
  top: -3.3%;
  position: absolute;
  color: #fefefe;
  -webkit-text-stroke: 2px #333;
}

.promo__controls {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo__play-btn {
  position: relative;
}

.promo__play-btn-after, .promo__play-btn-before {
  width: 180px;
  height: 180px;
  background-size: contain;
  background-repeat: no-repeat;
}

.promo__play-btn-after {
  background-image: url("../pictures/PB-before.png");
}

.promo__play-btn-before {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../pictures/PB.svg");
  animation: spin linear infinite 5s;
}

.promo__buy-btn {
  margin-left: 25%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.darken .promo__wrapper {
  z-index: 1;
  position: relative;
}

.darken .promo__text {
  color: #333333;
  -webkit-text-stroke: 3px #fff;
}

.darken .promo__text span > span {
  color: #fefefe;
  -webkit-text-stroke: unset;
  z-index: 0;
  top: 6.5%;
}

.darken .promo__play-btn-after {
  background-image: url("../pictures/PB-darken.svg");
}

.darken .promo__play-btn-before {
  background-image: url("../pictures/PB-before-darken.png");
}

@media screen and (max-width: 768px) {
  .promo__text {
    font-size: 96px;
    line-height: 105px;
    padding-left: 76px;
    -webkit-text-stroke: 2px #333;
  }
  .promo__text .hide {
    display: unset;
  }
  .promo__controls {
    width: 100%;
    margin: 0;
    margin-top: 50px;
    padding-left: 82px;
    justify-content: flex-start;
  }
  .promo__buy-btn {
    margin: 0;
    margin-right: 96px;
  }
  .darken .promo__text {
    color: #333333;
    padding-left: 69px;
    -webkit-text-stroke: 2px #fff;
  }
  .darken .promo__text span > span {
    color: #fefefe;
    z-index: 0;
    top: 8.5%;
  }
}

@media screen and (max-width: 550px) {
  .promo {
    margin-top: 100px;
  }
  .promo__text {
    padding-left: 44px;
    font-size: 36px;
    line-height: 42px;
    -webkit-text-stroke: 1px #333;
  }
  .promo__text span span {
    -webkit-text-stroke: 1px #333;
  }
  .promo__controls {
    margin-top: 50px;
    padding: 0;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .promo__buy-btn {
    margin: 0;
    margin-top: 50px;
  }
  .darken .promo__text {
    -webkit-text-stroke: 1px #fff;
  }
}

.partners {
  margin-top: 165px;
}

.partners__wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.partners__title {
  text-transform: uppercase;
}

.partners__companys {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 85px auto 0 auto;
}

.partners__company-container {
  width: 21%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners__company-container:nth-child(n + 5) {
  margin-top: 95px;
}

.partners__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partners__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.partners__company:nth-child(2n) {
  margin-top: 5%;
}

.partners__more-btn {
  margin-top: 10%;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
  color: #333333;
  line-height: 28px;
  text-align: center;
}

.partners__more-btn span {
  position: relative;
}

.partners__more-btn span:hover {
  cursor: pointer;
}

.partners__more-btn span:hover::before {
  width: 100%;
}

.partners__more-btn span::before {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 15%;
  height: 5px;
  left: 0;
  opacity: 0.4;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  background-color: #fdc300;
}

.partners__more-btn.disabled span {
  pointer-events: none;
}

.partners__c1, .partners__c2, .partners__c3, .partners__c4, .partners__c5, .partners__c6, .partners__c7, .partners__c8 {
  width: 10rem;
  height: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all ease 0.2s;
}

.partners__c1:hover, .partners__c2:hover, .partners__c3:hover, .partners__c4:hover, .partners__c5:hover, .partners__c6:hover, .partners__c7:hover, .partners__c8:hover {
  cursor: pointer;
}

.partners__c4, .partners__c8 {
  background-size: inherit;
}

.partners__c1 {
  background-image: url("../pictures/companys/Зоодисконт лого.svg");
}

.partners__c1:hover {
  background-image: url("../pictures/companys/active/Зоодисконт цвет цовер.svg");
}

.partners__c2 {
  background-image: url("../pictures/companys/Кадровый.svg");
}

.partners__c2:hover {
  background-image: url("../pictures/companys/active/КЦ Цвет ховер.svg");
}

.partners__c3 {
  background-image: url("../pictures/companys/Ноль Один.svg");
}

.partners__c3:hover {
  background-image: url("../pictures/companys/active/01 цвет ховер.svg");
}

.partners__c4 {
  background-image: url("../pictures/companys/Начинка.svg");
}

.partners__c4:hover {
  background-image: url("../pictures/companys/active/Начинка цвет ховер.svg");
}

.partners__c5 {
  background-image: url("../pictures/companys/Зооиндустрия лого.svg");
}

.partners__c5:hover {
  background-image: url("../pictures/companys/active/Индустрия цвет ховер.svg");
}

.partners__c6 {
  background-image: url("../pictures/companys/Колхоз.svg");
}

.partners__c6:hover {
  background-image: url("../pictures/companys/active/Колхоз цвет ховер.svg");
}

.partners__c7 {
  background-image: url("../pictures/companys/ЗооОпт.svg");
}

.partners__c7:hover {
  background-image: url("../pictures/companys/active/Зооопт цвет ховер.svg");
}

.partners__c8 {
  background-image: url("../pictures/companys/Корм на дом.svg");
}

.partners__c8:hover {
  background-image: url("../pictures/companys/active/Корм цвет ховер.svg");
}

.darken .partners__title {
  color: #fefefe;
}

.darken .partners__more-btn span {
  color: #fefefe;
}

.darken .partners__c1 {
  background-image: url("../pictures/companys/ЗоодисконтЛого-darken.svg");
}

.darken .partners__c1:hover {
  background-image: url("../pictures/companys/active/Зоодисконт цвет цовер.svg");
}

.darken .partners__c2 {
  background-image: url("../pictures/companys/Кадровый-darken.svg");
}

.darken .partners__c2:hover {
  background-image: url("../pictures/companys/active/КЦ Цвет ховер.svg");
}

.darken .partners__c3 {
  background-image: url("../pictures/companys/Ноль Один-darken.svg");
}

.darken .partners__c3:hover {
  background-image: url("../pictures/companys/active/01 цвет ховер.svg");
}

.darken .partners__c4 {
  background-image: url("../pictures/companys/Начинка-darken.svg");
}

.darken .partners__c4:hover {
  background-image: url("../pictures/companys/active/Начинка цвет ховер.svg");
}

.darken .partners__c5 {
  background-image: url("../pictures/companys/Зооиндустрия лого-darken.svg");
}

.darken .partners__c5:hover {
  background-image: url("../pictures/companys/active/Индустрия цвет ховер.svg");
}

.darken .partners__c6 {
  background-image: url("../pictures/companys/Колхоз-darken.svg");
}

.darken .partners__c6:hover {
  background-image: url("../pictures/companys/active/Колхоз цвет ховер.svg");
}

.darken .partners__c7 {
  background-image: url("../pictures/companys/ЗооОпт-darken.svg");
}

.darken .partners__c7:hover {
  background-image: url("../pictures/companys/active/Зооопт цвет ховер.svg");
}

.darken .partners__c8 {
  background-image: url("../pictures/companys/Корм на дом-darken.svg");
}

.darken .partners__c8:hover {
  background-image: url("../pictures/companys/active/Корм цвет ховер.svg");
}

@media screen and (max-width: 768px) {
  .partners {
    margin-top: 150px;
  }
  .partners__title {
    text-align: center;
  }
  .partners__companys {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .partners__c1, .partners__c2, .partners__c3, .partners__c5, .partners__c6, .partners__c7 {
    width: 13em;
  }
  .partners__c4, .partners__c8 {
    background-size: contain;
    width: 9em;
  }
  .partners__column {
    width: 45%;
  }
}

@media screen and (max-width: 550px) {
  .partners {
    margin-top: 100px;
  }
  .partners__title {
    font-size: 24px;
    line-height: 28px;
    width: 160px;
    text-align: left;
    padding-left: 44px;
  }
  .partners__companys {
    margin-top: 40px;
    padding-left: 30px;
  }
  .partners__company {
    width: 6em;
    height: 5em;
  }
  .partners__c4, .partners__c8 {
    width: 4em;
  }
  .partners__more-btn {
    font-size: 14px;
    line-height: 16px;
  }
  .partners__more-btn span::before {
    width: 100%;
    height: 9px;
  }
  .darken .partners__title {
    width: 100%;
  }
}

.contacts {
  padding-bottom: 30px;
}

.contacts__wrapper {
  max-width: 1240px;
  margin: 97px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.contacts__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
}

.contacts__right {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.contacts__custumers {
  margin-top: 5%;
}

.contacts__title {
  margin-left: 15%;
  text-transform: uppercase;
  margin-top: 150px;
  line-height: 56px;
}

.contacts__email, .contacts__phone {
  font-size: 72px;
  font-weight: 900;
  line-height: 84px;
  color: #333333;
  text-decoration: none;
}

.contacts__text {
  font-weight: normal;
  line-height: 42px;
}

.contacts__custumer-form {
  display: flex;
  flex-direction: column;
}

.contacts__custumer-form textarea {
  margin-top: 18px;
  padding: 0;
  background: 0;
  border: 0;
  width: 100%;
  max-height: 300px;
  position: relative;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background: url("../pictures/line-black.png") 0 0;
  transition: all 0.3s ease-in-out;
  resize: none;
}

.contacts__custumer-form textarea::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.contacts__custumer-form textarea:active, .contacts__custumer-form textarea:focus {
  outline: 0;
  background-image: url("../pictures/line-yellow.png");
}

.contacts__custumer-form input {
  margin-top: 11px;
  height: 23px;
  border: none;
  border-bottom: 1px solid #333333;
  font-size: 18px;
}

.contacts__custumer-form input:focus {
  outline: none;
}

.contacts__custumer-form input:hover, .contacts__custumer-form input:focus, .contacts__custumer-form input:active {
  border-bottom: 1px solid #fdc300;
}

.contacts__custumer-form input:first-child {
  margin-top: 0;
}

.contacts__custumer-form input::placeholder {
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}

.contacts__custumer-form button[type='submit'] {
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  background: none;
  border: none;
  padding: 22px 80px 22px 80px;
  position: relative;
}

.contacts__custumer-form button[type='submit']:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 95%;
  border: 2px solid #000000;
  border-radius: 40px;
  background-color: #fdc300;
  transition: all 1s ease;
  z-index: -1;
}

.contacts__custumer-form button[type='submit']:hover {
  cursor: pointer;
}

.contacts__custumer-form button[type='submit']:hover:after {
  width: 100%;
  transform: translate(0, 0);
}

.contacts__custumer-form button[type='submit']:before {
  content: '';
  position: absolute;
  background: url("../pictures/send.svg") center;
  background-repeat: no-repeat;
  right: 21px;
  width: 21px;
  height: 21px;
}

.contacts__checkbox_wrapper {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.contacts__checkbox_wrapper input[type='checkbox'] {
  position: absolute;
  z-index: -5;
  opacity: 0;
}

.contacts__checkbox_wrapper input[type='checkbox'] + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.contacts__checkbox_wrapper input[type='checkbox'] + label::before {
  content: '';
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #333333;
  margin-right: 0.75em;
  background-color: #333333;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.contacts__checkbox_wrapper input[type='checkbox'] + label:hover {
  cursor: pointer;
}

.contacts__checkbox_wrapper input[type='checkbox']:checked + label::before {
  border-color: #fdc300;
  background-color: #fdc300;
  background-image: url("../pictures/check.svg");
}

.contacts__submit_wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}

.contacts__social {
  max-width: 1240px;
  margin: 46px auto 0 auto;
  display: flex;
}

.contacts__link {
  text-decoration: none;
  margin-left: 30px;
}

.contacts__link:first-child {
  margin-left: 0;
}

.darken .contacts__email, .darken .contacts__phone, .darken .contacts__text, .darken .contacts__title {
  color: #fefefe;
}

.darken .contacts__custumer-form input {
  background-color: #333333;
  border-color: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
}

.darken .contacts__custumer-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.darken .contacts__custumer-form input:hover, .darken .contacts__custumer-form input:focus, .darken .contacts__custumer-form input:active {
  border-bottom: 1px solid #fdc300;
}

.darken .contacts__custumer-form textarea {
  background: url("../pictures/line-white.png") 0 0;
  color: rgba(255, 255, 255, 0.6);
}

.darken .contacts__custumer-form textarea:active, .darken .contacts__custumer-form textarea:focus {
  background-image: url("../pictures/line-yellow.png");
}

.darken .contacts__custumer-form textarea::placeholder {
  color: #ffffff99;
}

.darken .contacts__custumer-form button[type='submit'] {
  color: #fefefe;
  z-index: 1;
}

.darken .contacts__custumer-form button[type='submit']:hover {
  color: #333333;
}

.darken .contacts__custumer-form button[type='submit']:after {
  background-color: #fefefe;
  z-index: -1;
}

.darken .contacts__custumer-form button[type='submit']:before {
  z-index: 2;
}

.darken .contacts__checkbox_wrapper label {
  color: #ffffff99;
}

.darken .contacts__checkbox_wrapper input[type='checkbox'] + label::before {
  background-color: rgba(255, 255, 255, 0.6);
}

.darken .contacts__checkbox_wrapper input[type='checkbox']:checked + label::before {
  border-color: #fdc300;
  background-color: #fdc300;
  background-image: url("../pictures/check.svg");
}

@media screen and (max-width: 1200px) {
  .contacts__email, .contacts__phone {
    font-size: 64px;
    line-height: 64px;
  }
  .contacts__left {
    width: 50%;
  }
}

@media screen and (max-width: 1042px) {
  .contacts__email, .contacts__phone {
    font-size: 54px;
  }
  .contacts__text {
    font-size: 32px;
  }
}

@media screen and (max-width: 884px) {
  .contacts__email, .contacts__phone {
    font-size: 48px;
  }
  .contacts__text {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .contacts__wrapper {
    flex-direction: column;
    margin-top: 82px;
  }
  .contacts__left, .contacts__right {
    width: 100%;
    padding: 0 0 0 82px;
  }
  .contacts__right {
    margin-top: 80px;
  }
  .contacts__custumers {
    margin-top: 50px;
  }
  .contacts__title {
    margin-left: 0;
    padding-left: 82px;
  }
  .contacts__custumer-form {
    width: 75%;
  }
  .contacts__custumer-form input:not(:first-child),
  .contacts__custumer-form textarea {
    margin-top: 30px;
    background-position-y: -1px;
  }
  .contacts__submit_wrapper {
    justify-content: center;
  }
  .contacts__social {
    padding-top: 100px;
    justify-content: center;
  }
  .contacts__social a img {
    width: 4.625rem;
  }
}

@media screen and (max-width: 550px) {
  .contacts {
    margin-top: 100px;
  }
  .contacts__title {
    margin: 0;
    padding-left: 44px;
    font-size: 24px;
    line-height: 28px;
  }
  .contacts__phone, .contacts__email {
    font-size: 24px;
    line-height: 28px;
  }
  .contacts__custumer-form {
    width: 100%;
  }
  .contacts__custumers {
    margin-top: 21px;
  }
  .contacts__text {
    font-size: 18px;
    line-height: 21px;
  }
  .contacts__information {
    padding-left: 44px;
  }
  .contacts__wrapper {
    margin-top: 40px;
  }
  .contacts__left, .contacts__right {
    padding: 0;
  }
  .contacts__right {
    margin-top: 52px;
    padding: 0 44px;
  }
}

.elastic {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elastic .white,
.elastic .darken {
  width: 100%;
  top: 0;
}

.elastic .white.active {
  clip-path: unset;
  position: static;
}

.elastic .darken.active {
  clip-path: unset;
  position: static;
}

.elastic .top {
  z-index: 2;
  position: absolute;
  clip-path: url("#myPath");
}

.elastic .bottom {
  z-index: 1;
  position: relative;
}

.elastic .svg-slider {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  transition: left .5s ease;
}

.modal-buy {
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: 5;
  display: none;
}

.modal-buy.active {
  display: block;
}

.modal-buy__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.modal-buy__inner_wrapper {
  margin-top: 10%;
}

.modal-buy__title {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 900;
}

.modal-buy__purchase_card, .modal-buy__title {
  max-width: 690px;
  margin: 0 auto;
}

.modal-buy__purchase_card input {
  width: 100%;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}

.modal-buy__purchase_card input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.modal-buy__purchase_card input:first-child {
  margin-top: 60px;
}

.modal-buy__purchase_card input:not(:first-child) {
  margin-top: 30px;
}

.modal-buy__purchase_card input[type='checkbox'] {
  position: absolute;
  z-index: -5;
  opacity: 0;
  margin: 0;
}

.modal-buy__purchase_card input[type='checkbox'] + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.modal-buy__purchase_card input[type='checkbox'] + label::before {
  content: '';
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  border: 1px solid #333333;
  margin-right: 0.75em;
  background-color: #333333;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.modal-buy__purchase_card input[type='checkbox'] + label:hover {
  cursor: pointer;
}

.modal-buy__purchase_card input[type='checkbox']:checked + label::before {
  border-color: #fdc300;
  background-color: #fdc300;
  background-image: url("../pictures/check.svg");
}

.modal-buy__consent-purchase {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.modal-buy__purchase-btn {
  margin: 0;
  padding: 22px 95px;
  background-color: #ffffff;
}

.modal-buy__purchase-btn::before {
  background-color: #fdc300;
}

.modal-buy__hint {
  width: 100%;
  margin-top: 50px;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 425px) {
  .modal-buy__title {
    padding: 0 18px;
    font-size: 24px;
    line-height: 28px;
  }
  .modal-buy__purchase_card {
    padding: 0 18px;
  }
  .modal-buy__purchase_card input {
    font-size: 18px;
    line-height: 21px;
    border-bottom: 2px solid #333;
  }
  .modal-buy__consent-purchase {
    flex-direction: column;
    align-items: center;
  }
  .modal-buy__purchase-btn {
    margin-top: 20px;
    padding: 19px 82px;
    font-size: 18px;
    line-height: 21px;
  }
  .modal-buy__hint {
    font-size: 12px;
    line-height: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

a:focus,
button:focus {
  outline: none;
}

h1,
h2 {
  color: #333333;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

.darken {
  background-color: #333333;
}

.white {
  background-color: #fefefe;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 15px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0;
  }
}
