.elastic {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .white,
  .darken {
    width: 100%;
    top: 0;
  }

  .white.active {
    clip-path: unset;
    position: static;
  }

  .darken.active {
    clip-path: unset;
    position: static;
  }

  .top {
    z-index: 2;
    position: relative;
  }

  .bottom {
    z-index: 1;
    position: absolute;
  }

  .svg-slider-right,
  .svg-slider-left {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 50px;
    height: 100%;
  }

  .svg-slider-right {
    right: 0;
    path {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
    }
    @media screen and (max-width: 425px) {
      right: calc(-100% + 40px);
    }
  }

  .svg-slider-left {
    left: calc(-100% + 40px);
  }

  .clip-right {
    clip-path: url('#myPath-right');
  }

  .clip-left {
    clip-path: url('#myPath-left');
  }
}
