.modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 9000;

  display: none;

  &__overlay {
    position: absolute;
    z-index: 8900;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    display: none;
    opacity: 0;
  }

  &__wrapper {
    position: absolute;
    width: 30%;
    height: 40%;

    max-height: 520px;
    top: 50%;
    left: 50%;
    background-color: #fff;
    padding: 50px;
    z-index: 8950;

    border: 1px solid #000;
    border-radius: 10px;

    opacity: 0;
    display: none;

    @media screen and (max-width: 1440px) {
      width: 50%;
    }

    @media screen and (max-width: 320px) {
      width: 90%;
      padding: 20px;
    }
  }

  &__back {
    position: absolute;
    width: 30%;
    height: 40%;
    max-height: 520px;
    top: 50%;
    left: 50%;
    background-color: #FDC300;
    z-index: 8940;
    border: 1px solid #000;
    border-radius: 10px;

    opacity: 0;
    display: none;

    @media screen and (max-width: 1440px) {
      width: 50%;
    }

    @media screen and (max-width: 320px) {
      width: 90%;
    }
  }

  &__title-wrapper {
    display: flex;
    position: relative;
  }

  &__close {
    width: 64px;
    height: 64px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    border-radius: 50px;

    &:hover {
      cursor: pointer;
    }

    span {
      width: 36px;
      height: 3px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      &:first-child {
        transform: translate3d(-50%, -50%, 0) rotate(45deg);
      }

      &:last-child {
        transform: translate3d(-50%, -50%, 0) rotate(-45deg);
      }

      @media screen and (max-width: 320px) {
        width: 16px;
        height: 2px;
      }
    }

    @media screen and (max-width: 320px) {
      width: 26px;
      height: 26px;
    }
  }

  &__title {
    font-size: 34px;
    font-weight: 900;
    line-height: 38px;
    color: #333;

    @media screen and (max-width: 320px) {
      font-size: 16px;
      line-height: 21px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    input {
      border: none;
      font-size: 26px;
      font-weight: 400;
      line-height: 32px;
      color: #333;
      border-bottom: 2px solid #000;
      outline: none;

      &:not(:first-child) {
        margin-top: 30px;
      }

      &::placeholder {
        color: rgba(0, 0, 0, 0.3);
      }
    }

    label {
      margin-top: 20px;
    }

    input[type='checkbox'] {
      position: absolute;
      z-index: -5;
      opacity: 0;
    }

    input[type='checkbox'] + label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      &::before {
        content: '';
        display: inline-block;
        width: 0.75em;
        height: 0.75em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid $color-text;

        margin-right: 0.75em;
        background-color: $color-text;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }

      &:hover {
        cursor: pointer;
      }
    }

    input[type='checkbox']:checked + label {
      &::before {
        border-color: $color-main;
        background-color: $color-main;
        background-image: url('../pictures/check.svg');
      }
    }

    @media screen and (max-width: 320px) {
      input {
        font-size: 16px;
        line-height: 24px;

        &:not(:first-child) {
          margin-top: 15px;
        }
      }

      label {
        font-size: 10px;
      }
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    position: relative;
    

    button[type='submit'] {
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      padding: 22px 95px;
      border: 2px solid #333;
      border-radius: 40px;
      background-color: #fff;
      outline: none;

      position: absolute;

      &:hover {
        cursor: pointer;
      }

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 5px;
        left: 2px;
        width: 100%;
        height: 100%;
        background-color: #fdc300;
        border: 2px solid #333;
        border-radius: 40px;
      }

      &:hover {
        cursor: pointer;
      }

      &:active {
        transform: translate(5px, 10px);
        -webkit-transform: translate(5px, 10px);
        &::before {
          content: none;
        }
      }

      @media screen and (max-width: 320px) {
        font-size: 16px;
        line-height: 19px;
        padding: 11px 42px;
        width: 100%;

        &::before {
          top: 3px;
          left: 1px;
        }

        &:active {
          transform: translate(3px, 5px);
          -webkit-transform: translate(3px, 5px);
          &::before {
            content: none;
          }
        }
      }
    }
  }
}
