.promo {
  margin-top: 190px;

  &__wrapper {
    max-width: 1000px;
    text-transform: uppercase;
    margin: 0 auto;
  }

  &__text {
    font-weight: 900;
    font-size: 105px;
    line-height: 123px;
    color: $color-white;
    letter-spacing: 1px;

    .hide {
      display: none;
    }

    span {
      color: $color-text;
      position: relative;

      span {
        z-index: -1;
        left: 0;
        top: -1.5%;
        position: absolute;
        color: $color-white;
      }
    }
  }

  &__controls {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__play-btn {
    position: relative;

    &-after,
    &-before {
      width: 180px;
      height: 180px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &-after {
      background-image: url('../pictures/PB-before.png');
    }

    &-before {
      z-index: -1;
      position: absolute;
      left: 0;
      top: 0;

      background-image: url('../pictures/PB.svg');
      animation: spin linear infinite 5s;
    }
  }

  &__buy-btn {
    margin-left: 25%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.darken {
  .promo {
    &__wrapper {
      z-index: 1;
      position: relative;
    }

    &__text {
      color: $color-text;
      span > span {
        color: $color-white;
        z-index: 0;
        top: 6.5%;
      }
    }

    &__play-btn {
      &-after {
        background-image: url('../pictures/PB-darken.svg');
      }

      &-before {
        background-image: url('../pictures/PB-before-darken.png');
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .promo {
    &__text {
      font-size: 96px;
      line-height: 105px;
      padding-left: 76px;
      .hide {
        display: unset;
      }
    }

    &__controls {
      width: 100%;
      margin: 0;
      margin-top: 50px;
      padding-left: 82px;
      justify-content: flex-start;
    }

    &__buy-btn {
      margin: 0;
      margin-right: 96px;
    }
  }

  .darken {
    .promo {
      &__text {
        color: $color-text;
        padding-left: 69px;
        span > span {
          color: $color-white;
          z-index: 0;
          top: 8.5%;
        }
      }

      &__controls {
        padding-left: 74px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .promo {
    margin-top: 100px;

    &__text {
      padding-left: 44px;
      font-size: 36px;
      line-height: 42px;
    }

    &__controls {
      margin-top: 50px;
      padding: 0;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }

    &__buy-btn {
      margin: 0;
    }
  }
}
