.marquee {
  position: relative;
  z-index: -5;
  margin-top: 44px;

  overflow: hidden;

  img {
    display: flex;
  }
}

// @keyframes marquee {
//   0% {
//     background-position: 0px 0px;
//   }
//   100% {
//     background-position: 1452px 0;
//   }
// }

@media screen and (max-width: 550px) {
  .marquee {
    margin-top: 25px;

    img {
      height: 70px;
    }
  }

  .darken {
    .ticker {
      &__text {
        height: 70px;
        background-size: 884px 65px;
      }
    }
  }
}